.account__list {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  height: 50px;
  margin-bottom: 30px;
  list-style: none;
  font-size: 24px;
}

.account__list-item,
.account__currency_operations-create,
.account__currency_operations-delete {
  cursor: pointer;
}

.account__list-item_active {
  color: $third;
}

#account__edit {
  width: 294px;
  text-align: right;
}

#account__password {
  width: 360px;
  text-align: right;
}

#account__edit_username,
#account__password_oldpassword,
#account__password_newpassword {
  margin-bottom: 10px;
}

#account__edit_email,
#account__password_confirmpassword,
.account__clarify_question,
.account__remove {
  margin-bottom: 20px;
}

.account__edit_username-input,
.account__edit_email-input,
.account__password_oldpassword-input,
.account__password_newpassword-input,
.account__password_confirmpassword-input,
#account__currency_create-select,
#account__currency_delete-select,
#remove-password {
  width: 200px;
  height: 25px;
  border-radius: 6px;
  border: 1px #d8c307 solid;
}

.account__buttons {
  display: flex;
  justify-content: space-between;
}

.button-submit,
.button-cancel,
.lastfive-cancel {
  width: 33%;
  height: 30px;
  border-radius: 15px;
  border-width: 0px;
  color: #fffffc;
  background-color: #d8c307;
  cursor: pointer;
  transition: 0.2s;
}

.account__currency_title {
  margin-bottom: 15px;
  text-align: center;
}

.account__currency_operations {
  display: flex;
  gap: 50px;
  margin-bottom: 25px;
}

.create-currency,
.delete-currency {
  display: inline-block;
  margin-right: 5px;
  width: 12px;
  height: 12px;
  border: #d8c307 solid 1px;
  border-radius: 50%;
}

.create-currency-active,
.delete-currency-active {
  background: #d8c307;
}

#account__currency_create-container,
#account__currency_delete-container {
  margin-bottom: 20px;
}

th,
td {
  width: 120px;
  text-align: center;
  border-bottom: 1px dashed black;
  border-right: 1px dashed black;
}

th:last-child,
td:last-child {
  border-right: none;
}

.account__notification {
  margin-top: 20px;
  text-align: left;
  font-size: 80%;
}

.account__operations_table {
  margin-bottom: 20px;
}