.admin__list {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  height: 50px;
  margin-bottom: 30px;
  list-style: none;
  font-size: 24px;
}

.admin__list-item {
  cursor: pointer;
}

.admin__list-item_active {
  color: $third;
}

.users__info {
  padding-bottom: 10px;
}

.blocked {
  height: 24px;
  width: 24px;
}

.users__table {
  margin-bottom: 20px;
}

.td-user {
  cursor: pointer;
}

.user-cancel,
.user-create {
  width: 33%;
  height: 30px;
  border-radius: 15px;
  border-width: 0px;
  color: #fffffc;
  background-color: #d8c307;
  cursor: pointer;
  transition: 0.2s;
}