$white: #fffffc;
$black: #090909;
$third: #d8c307;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sofia Sans', sans-serif;
}

.page {
  //background-color: $third;
  display: flex;
  flex-direction: column;
  transition: opacity .2s;
}

@import 'auth';
@import 'auth-extra';
@import 'load';
@import 'main';
@import 'header';
@import 'about';
@import 'stat';
@import 'account';
@import 'card';
@import './layouts/payments';
@import './layouts/paymentsDetails';
@import './base/base';

.invalid {
  border: 2px red solid
}
